<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">chat</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>display all chats by hotel_id if user_role is hotel </div>
  <div>select-chat and nav to chat</div>
  <div>display all messages by chat_id</div>
  <div>send message</div>

  <div>
    <ion-card class="ion-padding" *ngFor="let item of chats">
      {{ item.tag }}
      <ion-buttons>
        <ion-button>Edit</ion-button>
        <ion-button (click)="selectChat(item)">Open</ion-button>
      </ion-buttons>
    </ion-card>
  </div>


<!--
  <div class="block">
    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col size="3">
            <ion-thumbnail >
              <ion-img alt="Silhouette of mountains"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTt5NgZ4zm9lYsEj7HQo3AT-8opP0ccd6q6BLI8U3Z68Kf1w6bHypVdsFzOzXnsRCfcU4k&usqp=CAU"
              ></ion-img>
            </ion-thumbnail>
          </ion-col>
          <ion-col size="9">
            <ion-row>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</ion-row>
          </ion-col>
        </ion-row>

      </ion-card-content>

    </ion-card>

    <div class="m-text-left">
      <ion-text>2024-02-22</ion-text>
    </div>

  </div>



  <div class="block2">
    <ion-card>
      <ion-card-content>
        <ion-row>

          <ion-col size="9">
            <ion-row>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</ion-row>

          </ion-col>

          <ion-col size="3" class="m-flex m-flex-col">
            <ion-thumbnail title="username" >
              <ion-img alt="Silhouette of mountains"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTt5NgZ4zm9lYsEj7HQo3AT-8opP0ccd6q6BLI8U3Z68Kf1w6bHypVdsFzOzXnsRCfcU4k&usqp=CAU"
              ></ion-img>
            </ion-thumbnail>
            <ion-label>user-name</ion-label>
          </ion-col>
        </ion-row>
      </ion-card-content>

    </ion-card>

    <div class="m-text-right">
      <ion-text>2024-02-22</ion-text>
    </div>

  </div>
 -->

</ion-content>
