<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>HomeGuest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HomeGuest</ion-title>
    </ion-toolbar>
  </ion-header>


  <div>
    <div>
      Array Value: {{ computedDisplay() }}
    </div>

    <ion-button (click)="appendValue()">Append Value</ion-button>
    <ion-button (click)="appendAndShow()">Append and Show </ion-button>
    <ion-button (click)="showWithUpdate()">Show Update </ion-button>

  </div>

  <div>

    <ol>
      @for(item of warenkorb(); track $index) {
      <ion-button (click)="addItem(item)">add</ion-button>
      <li>{{ item }}</li>
      }

    </ol>

  </div>
</ion-content>
