<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bookings</ion-title>
    </ion-toolbar>
  </ion-header>


  <div *ngFor="let item of bookingService.bookingsByHotel">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Booking</ion-card-title>
        <ion-card-subtitle>Room room_number</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

        <ion-row>
          <ion-col size="">
            <ion-row>
              <p>nights: {{ item.nights }}</p>
            </ion-row>
            <ion-row>
              <p>Total Price: {{ item.total_price ? item.total_price : 105}}</p>
              <p>Guest Name</p>
              <p>Guest Email</p>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-buttons>
          <ion-button><ion-chip>Add Note</ion-chip></ion-button>
        </ion-buttons>

      </ion-card-content>

      <ion-buttons class="ion-padding">
        <ion-button class="ion-padding" (click)="viewBooking(item)"><ion-icon name="eye"></ion-icon>View</ion-button>
        <ion-button class="ion-padding" (click)="editBooking(item)">Edit</ion-button>
        <ion-button class="ion-padding" (click)="removeBooking(item)">
          <ion-icon name="trash"></ion-icon>Remove</ion-button>
      </ion-buttons>




    </ion-card>
  </div>




</ion-content>
