<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="close()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>{{isCreate ? "Create Booking" : isEdit ? "Edit Booking" : "View Booking"}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">*******</ion-title>
    </ion-toolbar>
  </ion-header>-->

  <div *ngIf="isCreate">
    <!--
      get guest_id
      display all hotels -> hotel(select-hotel<-fetchAllAvailable rooms by hotel_id ) -> display all free rooms -> room <- select-room
      get hotel_id, room_id

      if guest_id, hotel_id, room_id sind true then show form and submit -> close-modal


    -->
    <app-my-booking-form [role]="role_form.create" [booking]="props.booking" [hotels]="props.hotels"
      [isCreate]="isCreate"></app-my-booking-form>
  </div>

  <div *ngIf="isEdit">
    <app-my-booking-form [role]="role_form.edit" [booking]="props.booking" [hotels]="props.hotels"
      [isEdit]="isEdit"></app-my-booking-form>
  </div>
  <!-- <p>hotel-name, location, room-number, total_price, start-date, end date</p> -->

  <div *ngIf="isView">

    <ion-text class="ion-text-center">
      <h4>My Booking</h4>
    </ion-text>

    <ion-card>
      <ion-card-content>
        <div class="card-body">

          <div>Hotel Name: <ion-text>{{booking.hotel?.name}}</ion-text></div>
          <div>Room Number: <ion-text>{{booking.room?.room_number}}</ion-text></div>
          <div>Room Type: <ion-text>{{booking.room?.room_type}}</ion-text></div>
          <div>Nights: <ion-text>{{booking.nights}}</ion-text></div>
          <div>Start Date: <ion-text>{{booking.start_date}}</ion-text></div>
          <div>End Date: <ion-text>{{booking.end_date}}</ion-text></div>
          <div>Location: <ion-text>City, Country</ion-text></div>
          <div>Total Price: <ion-text>{{booking.total_price}}</ion-text></div>


        </div>
      </ion-card-content>
    </ion-card>


    <div>

      <ion-text class="ion-text-center">
        <h4>My Notes</h4>
      </ion-text>

      <div *ngFor="let item of notes">
        <ion-card>
          <ion-card-content>
            <div class="m-flex">

              <ion-row>
                <ion-col size="1">

                  <div>

                  </div>

                </ion-col>
                <ion-col size="11">

                  <div>
                    <ion-text>
                      {{ item.content ? item.content : 'content Lorem ipsum dolor sit amet consectetur adipisicing
                      elit.'}}
                    </ion-text>
                    <ion-text>

                      @if (item.isPublic) {

                      }
                      <ion-chip>{{item.isPublic ? "public" : "private"}}</ion-chip>

                    </ion-text>
                  </div>

                </ion-col>

              </ion-row>


            </div>
          </ion-card-content>

          <ion-toolbar (click)="selectNote(item)">
            <ion-buttons slot="start">
              <ion-button (click)="setOpen(true)">Edit</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button (click)="openAlert('remove', item)">Remove</ion-button>
            </ion-buttons>
          </ion-toolbar>


        </ion-card>
      </div>


    </div>





<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Modal</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

      <div>
        <form [formGroup]="noteForm" (ngSubmit)="submitNoteForm()">

          <ion-list>
            <ion-item>
              <!--<ion-checkbox labelPlacement="start" formControlName="isPublic">Public</ion-checkbox>-->
              <ion-toggle labelPlacement="start" formControlName="isPublic">Public</ion-toggle>
            </ion-item>

            <ion-item>
              <ion-textarea rows="3" cols="40" label="Note" formControlName="content"></ion-textarea>
            </ion-item>
          </ion-list>

          <div class="">
            <ion-buttons slot="end">
              <ion-button type="submit">Update Note</ion-button>

            </ion-buttons>

          </div>



        </form>

      </div>
    </ion-content>
  </ng-template>
</ion-modal>


  </div>


</ion-content>
