
<!--<div>
  form role: {{ isCreate && "Create Form"}} , {{isEdit && "Edit Form"}}
</div>-->

<div *ngIf="isCreate || isEdit">

  <ion-card >
    <ion-card-header>
      <ion-card-title>New Booking Info.</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
      <form [formGroup]="bookingForm" (ngSubmit)="submit()">
        <ion-list>

          <div *ngIf="isEdit">
            <ion-item>
              <ion-select label="Hotel" placeholder="Choose One" formControlName="hotel" (ionChange)="selectHotel()">
                <div *ngFor="let item of hotels">
                  <ion-select-option value={{item._id === fetchedBooking.hotel}} *ngIf="item._id === fetchedBooking.hotel"> {{item.name}}</ion-select-option>
                  <ion-select-option value={{item._id}}> {{ item.name }}</ion-select-option>
                </div>
              </ion-select>
            </ion-item>

            <ion-item >
              <ion-select label="Room" placeholder="Choose One" formControlName="room" (ionChange)="selectRoom()">
                <ion-select-option value={{fetchedBooking.room?._id}}> {{ fetchedBooking.room?.room_number }}</ion-select-option>
                <div *ngFor="let item of rooms">
                  <ion-select-option value={{item._id}}> {{ item.room_number }}</ion-select-option>
                </div>
              </ion-select>
            </ion-item>
          </div>

          <div *ngIf="isCreate">
            <ion-item>
            <ion-select label="Hotel" placeholder="Choose One" formControlName="hotel" (ionChange)="selectHotel()">
              <div *ngFor="let item of hotels">
                <ion-select-option value={{item._id}}> {{ item.name }}</ion-select-option>
              </div>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="isSelectedHotel">
            <ion-select label="Room" placeholder="Choose One" formControlName="room" (ionChange)="selectRoom()">
              <div *ngFor="let item of rooms">
                <ion-select-option value={{item._id}}> {{ item.room_number }}</ion-select-option>
              </div>
            </ion-select>
          </ion-item>

          </div>

          <ion-item>
            <ion-input type="number" [disabled]="true" label="Nights" formControlName="nights"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="date" label="Start Date" formControlName="start_date" (ionChange)="checkChangeStartDate()"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="date" label="End Date" formControlName="end_date" (ionChange)="checkChangeEndDate()"></ion-input>
          </ion-item>

         <!-- <ion-item>
            <ion-input type="date" label="CheckedIn Date" formControlName="checkedIn_date"></ion-input>
          </ion-item>

          <ion-item>
            <ion-checkbox labelPlacement="start" formControlName="isCheckedIn">CheckedIn</ion-checkbox>

          </ion-item>

          <ion-item>
            <ion-input type="date" label="CheckedOut Date" formControlName="checkedOut_date"></ion-input>
          </ion-item>

          <ion-item>
            <ion-checkbox labelPlacement="start" formControlName="isCheckedOut">CheckedOut</ion-checkbox>
          </ion-item>


          <ion-item>
            <ion-input type="date" label="Confirmed Date" formControlName="confirmed_date"></ion-input>
          </ion-item>

          <ion-item>
            <ion-checkbox labelPlacement="start" formControlName="isConfirmed">Confirmed</ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-input type="date" label="Paid Date" formControlName="paid_date"></ion-input>
          </ion-item>

          <ion-item>
            <ion-checkbox labelPlacement="start" formControlName="isPaid">Paid</ion-checkbox>
          </ion-item>-->


        </ion-list>
        <ion-button type="submit">Create Booking</ion-button>
        <div>

        </div>

      </form>
    </ion-card-content>
  </ion-card>

</div>
