<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rooms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rooms </ion-title>

      <ion-item>
        <ion-select label="Filter" placeholder="Choose One"  >
          <div *ngFor="let item of roomFilter_keys">
              <ion-select-option value={{item}}> {{item}}</ion-select-option>
            <!--<ion-select-option value="available">Available</ion-select-option>
            <ion-select-option value="booked">Booked</ion-select-option>
            <ion-select-option value="cleaned">Cleaned</ion-select-option>
            <ion-select-option value="notCleaned">NotCleaned</ion-select-option>
            <ion-select-option value="single">Single</ion-select-option>
            <ion-select-option value="double">Double</ion-select-option>-->
          </div>
        </ion-select>
      </ion-item>
    </ion-toolbar>
  </ion-header>



  <div *ngFor="let item of roomService.roomsByHotel">
    <ion-card >
      <ion-card-header [color]="item.isBooked ? 'danger' : 'primary'">
        <ion-card-title></ion-card-title>
        <ion-card-subtitle>Room {{ item.room_number }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>


        <ion-row>
          <ion-col size="">
            <ion-thumbnail>
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
          </ion-col>
          <ion-col size="8">
            <ion-row>
              <p>Room Type {{ item.room_type }}</p>
            </ion-row>
            <ion-row>
              <p>Price {{ item.price ? item.price : 50 }}</p>
            </ion-row>
          </ion-col>
        </ion-row>



        <div>{{ item.isBooked ? 'Booked' : 'Available' }} <ion-icon name="lock-closed" *ngIf="item.isBooked"></ion-icon></div>

      </ion-card-content>


      <ion-buttons class="ion-padding">
        <ion-button class="ion-padding" (click)="viewRoom(item)"><ion-icon name="eye"></ion-icon>View</ion-button>
        <ion-button class="ion-padding" (click)="editRoom(item)">Edit</ion-button>
        <ion-button class="ion-padding" (click)="removeRoom(item)"><ion-icon name="trash"></ion-icon>Remove</ion-button>
      </ion-buttons>


    </ion-card>
  </div>


  <!--<ion-button id="open-modal" expand="block">Open</ion-button>
  <p>{{ message }}</p>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input label="Enter your name" labelPlacement="stacked" type="text" placeholder="Your name"
            [(ngModel)]="name"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>-->



</ion-content>
