
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button color="medium" (click)="closeModal()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Room {{data.room_number}}</ion-title>

        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <!--<ion-item>
          <ion-input
            label="Enter your name"
            labelPlacement="stacked"
            type="text"
            placeholder="Your name"
            [(ngModel)]="name"
          ></ion-input>
        </ion-item>-->

        <div *ngIf="isView">Room Info

          <p>Room Number: {{data.room_number}}</p>
          <p>phone: {{ data.room_type }}</p>
          <p>Price: {{data.price}}</p>
          <p>Cleaned: {{data.isCleaned}}</p>
          <p>Cleaned Date: {{ data.cleaned_date}}</p>
          <p>Booked: {{ data.isBooked}}</p>
          <p>Phone: {{ data.phone_number }}</p>




        </div>

        <div *ngIf="isEdit">
             Edit Room Form
             <app-room-form [data]="data" ></app-room-form>
        </div>


        <div>
          <ion-buttons>
            <!--<ion-button (click)="displayEditForm()">Edit</ion-button>
            <ion-button [disabled]="isEdit" (click)="openRemoveModal()">Remove</ion-button>-->
          </ion-buttons>
        </div>
      </ion-content>
