<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">messages</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (isSend) {
    <p>send</p>
  } @else {
     <p>no send</p>
  }

  <ion-button (click)="sendMessage()">send</ion-button>


  <ion-button (click)="fetchMessages()">get all</ion-button>

  <div *ngFor="let item of messages" class="ion-padding" (click)="selectMessage(item)">
    <p>{{ item.message }}</p>

  </div>


</ion-content>
