<!--<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button menu="side" color="lili" auto-hide="false" (click)="toggleSideMenu()"></ion-menu-button>
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>-->


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Folder</ion-title>
    </ion-toolbar>
  </ion-header>


  Home

</ion-content>
